/*** Layout ***/

html {
    height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #e5e5e5; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #e5e5e5 0%,#ffffff 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #e5e5e5 0%,#ffffff 100%); /* W3C */
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #202020;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container {
  margin: 0 auto;
  width: 650px;
}

header {
  margin-top: 30px;
}

.section {
  margin-bottom: 10px;
  width: 600px;
  background: #202020;
  color: #e5e5e5;
  font-weight: 200;
}

 .section:hover {
  background: #404040;
  box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.5); 
  color: #e1e1e1; 
}

.section a {
  color: #e5e5e5;
  text-decoration: none;
}

#design {
}

#designInfo {
  display: none;
  margin-left: 10px;
  width: 580px;
}

/*#designInfo ul {
  margin: 0;
  padding: 0;
}

#designInfo ul li {
  list-style: none;
}*/

#develop {
  margin-left: 50px;
}

#developInfo {
  display: none;
  margin-left: 10px;
  width: 580px;
}

#developInfo article {
  margin-left: 230px;
}

article h1 {
  font-size: 2em;
}

#consult {
}

#consultInfo {
  display: none;
  margin-left: 10px;
  width: 580px;
}

.social {
  overflow: hidden;
  margin: 0 auto;
  width: 120px;
}

.holder {
  padding-left: 5px;
}

.holder:first-child {
  padding-left: 0;
}

.holder img:hover {
  box-shadow: 1px 1px 10px rgba(32, 32, 32, 0.15); 
}

footer {
  margin-top: 25px;
  padding-bottom: 10px;
  color: #c2c2c2;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  color: #c1c1c1;
  text-decoration: none;
}

footer a:hover {
  color: #898989;
  text-decoration: none;
}
/** Typography ***/

h1 {
  font-size: 5em;
  font-weight: 400;
}

.section h1 {
  padding: 0 0 8px 5px;
  font-size: 4em;
}

/*** Floats ***/
.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}